# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual Environment
venv/
ENV/
env/
.venv/

# Caching & Local databases
*.db
*.sqlite3
dump.rdb
.pytest_cache/
.coverage
htmlcov/

# Exports & Generated Reports
app/static/exports/bookings_*.csv
app/static/reports/monthly_report_*.html

# Submission packages
submission.zip

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
